;; shadow-cljs configuration
{:deps {:aliases [:cljs]}

 :nrepl
 {:port 8702}

 :builds
 {:frontend {:target :browser
             :source-map true
             :modules {:main {:init-fn ui.core/init}}
             :devtools
             {:http-root   "public"
              :http-port   3300}}

  :server {:target :node-script
           :main server.core/server
           :output-to ".dist/main.js"}}}
